<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.username}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div th:insert="~{blocks/header :: login}"></div>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-4">

                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body text-center">

                            <h4 class="mb-2" th:text="${user.username}"></h4>
                            <p class="text-muted mb-4" th:text="${user.getDateOfCreated().toString()}"> <span class="mx-2">|</span> <p>-</p>
<!--                            <div class="mb-4 pb-2">-->
<!--                                <button type="button" class="btn btn-outline-primary btn-floating">-->
<!--                                    <i class="fab fa-facebook-f fa-lg"></i>-->
<!--                                </button>-->
<!--                                <button type="button" class="btn btn-outline-primary btn-floating">-->
<!--                                    <i class="fab fa-twitter fa-lg"></i>-->
<!--                                </button>-->
<!--                                <button type="button" class="btn btn-outline-primary btn-floating">-->
<!--                                    <i class="fab fa-skype fa-lg"></i>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <button type="button" class="btn btn-primary btn-rounded btn-lg">-->
<!--                                Message now-->
<!--                            </button>-->
                            <div class="d-flex justify-content-between text-center mt-5 mb-2">
<!--                                <div>-->
<!--                                    <p class="mb-2 h5"></p>-->
<!--                                    <p class="text-muted mb-0"></p>-->
<!--                                </div>-->
                                <div class="px-3">
                                    <p class="mb-2 h5" th:text="${user.getContacts().size()}"></p>
                                    <p class="text-muted mb-0">Jemi kontakt sany</p>
                                </div>
<!--                                <div>-->
<!--                                    <p class="mb-2 h5"></p>-->
<!--                                    <p class="text-muted mb-0">Ulgamda</p>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div th:insert="~{blocks/footer :: copy}"></div>
</body>
</html>